* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199, 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0px;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: aboslute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle.bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Hero css */

body {
    margin: 0;
    padding: 0;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #131313;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 600;
 }
 .hero-subtitle {
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 }

 .main__btn {
    font-size: 1rem;
    background-color: pink;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #131313;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.3s;
    border-radius: 4px;
}

.main__btn:hover:after{
    width: 100%;
}

/* Services Section CSS*/
.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b1a25b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/pic1.svg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/pic1.svg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .services {
        height: 1600px;

    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}







/*Spectroscope Lesson Code */

.spectroscope {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600vh;

}

.spectroscope h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b1a25b 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.spectroscope-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope-card {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: #141414;
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope-card:nth-child(2) {
    background-image: url('./images/spec-1.png');
    height: 525px;
    width: 750px;
}

.spectroscope-card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope-card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope-card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .spectroscope {
        height: 1600px;

    }

    .spectroscope h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .spectroscope {
        height: 1400px;
    }

    .spectroscope h1 {
        font-size: 1.2rem;
    }

    .spectroscope {
        width: 300px;
    }
}


.spectroscope-container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope-card-2 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: #141414;
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope-card-2:nth-child(2) {
    background-image: url('./images/spec-2.png');
    height: 525px;
    width: 750px;
}

.spectroscope-card-2 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope-card-2 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope-card-2:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.spectroscope-container-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope-card-3 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: #141414;
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope-card-3:nth-child(2) {
    background-image: url('./images/spec-3.png');
    height: 525px;
    width: 750px;
}

.spectroscope-card-3 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope-card-3 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope-card-3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.spectroscope-container-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope-card-4 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: #141414;
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope-card-4:nth-child(2) {
    background-image: url('./images/spec-4.png');
    height: 525px;
    width: 750px;
}

.spectroscope-card-4 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope-card-4 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope-card-4:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}



.spectroscope-container-discussion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope-card-discussion {
    margin: 1rem;
    height: 525px;
    width: 500px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/light.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope-card-discussion:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/white.jpg');
    color: black;
}

.spectroscope-card-discussion:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/rainbow.jpg');
    color: white;
}

.spectroscope-card-discussion:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/spec-4.png');
    color: white;
}

.spectroscope-card-discussion:nth-child(5) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/cd.jpg');
    color: white;
}

.spectroscope-card-discussion h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope-card-discussion p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope-card-discussion:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.spectroscope-container-materials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope-card-materials {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/materials.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope-card-materials h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope-card-materials p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope-card-materials:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Hero CSS 

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: self;
    margin: 90vh;
    background-color: #141414;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content .main-hero-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, ##ff0844, 0% #ffb1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1rem;
    background-color: linear-gradient(to top, #f77062 0%, #fe9166 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.3s;
    border-radius: 4px;
}

.main__btn:hover:after{
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Hero Mobile Responsive 

@media screen and (max-width: 800px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem;
    }
} */