* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #4bbbbd;
    background-image: linear-gradient(to top, #FAAB36 0%, #FAAB36, 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #249EA0;
    color: #fff;
}

.button:hover {
    background: #005F60;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #8acdce;
    transition: all 0.3s ease;
}

/* Hero css */

body {
    margin: 0;
    padding: 0;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/girl-laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
 }
 .hero__content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: black;
    text-align: center;
    margin: 0.625rem;
 }
 .hero__title {
    font-size: 4rem;
    background-image: linear-gradient(to top, #a49da8 0%, #fff 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 600;
 }
 .hero__subtitle {
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #a49da8 0%, #fff 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
 }

 .main__btn {
    font-size: 1rem;
    background-color: #249ea0;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: black;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #005F60;
    transition: all 0.3s;
    border-radius: 4px;
}

.main__btn:hover:after{
    width: 100%;
}

/* Expo Section CSS*/
.expo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.expo h1 {
    background-color: black;
    background-image: white; /* I was originally going to use a gradient here but decided against it */
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.expo__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.expo__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/metal-gears.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.expo__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/source-code.jpg');
}

.expo__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.expo__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.expo__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #249EA0;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none !important;
}

.expo__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/*Spectroscope Lesson Code */

.spectroscope {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600vh;

}

.spectroscope h1 {
    background-color: black;
    background-image: black;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.spectroscope__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope__card {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.spectroscope__card:nth-child(2) {
    background-image: url('./images/spec-1.png');
    height: 525px;
    width: 750px;
}

.spectroscope__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.spectroscope__container__2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope__card__2 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.spectroscope__card__2:nth-child(2) {
    background-image: url('./images/spec-2.png');
    height: 525px;
    width: 750px;
}

.spectroscope__card__2 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope__card__2 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope__card__2:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.spectroscope__container__3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope__card__3 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.spectroscope__card__3:nth-child(2) {
    background-image: url('./images/spec-3.png');
    height: 525px;
    width: 750px;
}

.spectroscope__card__3 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope__card__3 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope__card__3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.spectroscope__container__4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope__card__4 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.spectroscope__card__4:nth-child(2) {
    background-image: url('./images/spec-4.png');
    height: 525px;
    width: 750px;
}

.spectroscope__card__4 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope__card__4 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope__card__4:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.spectroscope__container__discussion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope__card__discussion {
    margin: 1rem;
    height: 600px;
    width: 600px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/light.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope__card__discussion:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/white.jpg');
    color: black;
}

.spectroscope__card__discussion:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/rainbow.jpg');
    color: white;
}

.spectroscope__card__discussion:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/spec-4.png');
    color: white;
}

.spectroscope__card__discussion:nth-child(5) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/cd.jpg');
    color: white;
}

.spectroscope__card__discussion h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope__card__discussion p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope__card__discussion:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.spectroscope__container__materials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.spectroscope__card__materials {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/materials.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.spectroscope__card__materials h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.spectroscope__card__materials p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.spectroscope__card__materials:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Engineering Page CSS */
.eng__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.eng__page h1 {
    background-color: black;
    background-image: white;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.eng__page__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.eng__page__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/spec-5.png');
    background-size: cover;
    position: relative;
    color: #fff;
}

.eng__page__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/kal-4.png');
}

.eng__page h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.eng__page__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.eng__page__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #249EA0;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none !important;
}

.eng__page__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Kaleidoscope Page CSS */
.kaleidoscope {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600vh;

}

.kaleidoscope h1 {
    background-color: black;
    background-image: black;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.kaleidoscope__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kaleidoscope__card {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.kaleidoscope__card:nth-child(2) {
    background-image: url('./images/kal-1.png');
    height: 525px;
    width: 750px;
}

.kaleidoscope__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.kaleidoscope__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.kaleidoscope__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.kaleidoscope__container__2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kaleidoscope__card__2 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.kaleidoscope__card__2:nth-child(2) {
    background-image: url('./images/kal-2.png');
    height: 525px;
    width: 750px;
}

.kaleidoscope__card__2 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.kaleidoscope__card__2 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.kaleidoscope__card__2:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.kaleidoscope__container__3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kaleidoscope__card__3 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.kaleidoscope__card__3:nth-child(2) {
    background-image: url('./images/kal-3.png');
    height: 525px;
    width: 750px;
}

.kaleidoscope__card__3 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.kaleidoscope__card__3 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.kaleidoscope__card__3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.kaleidoscope__container__discussion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kaleidoscope__card__discussion {
    margin: 1rem;
    height: 600px;
    width: 600px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/light.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.kaleidoscope__card__discussion:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/light-ray.jpg');
    color: white;
}

.kaleidoscope__card__discussion:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/kids-kaleidoscope.jpg');
    color: white;
}

.kaleidoscope__card__discussion:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/kal-pattern.jpg');
    color: white;
}

.kaleidoscope__card__discussion:nth-child(5) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/kal-pattern-2.jpg');
    color: white;
}

.kaleidoscope__card__discussion h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.kaleidoscope__card__discussion p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.kaleidoscope__card__discussion:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Binary Bracelets CSS */

.binary-bracelets {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450vh;
}

.binary-bracelets h1 {
    background-color: black;
    background-image: black;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.binary-bracelets-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.binary-bracelets-card {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.binary-bracelets-card:nth-child(2) {
    background-image: url('./images/string.jpg');
    height: 525px;
    width: 750px;
}

.binary-bracelets-card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.binary-bracelets-card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.binary-bracelets-card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.binary-bracelets-container-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.binary-bracelets-card-2 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.binary-bracelets-card-2:nth-child(2) {
    background-image: url('./images/binary-decoder.png');
    height: 525px;
    width: 750px;
}

.binary-bracelets-card-2 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.binary-bracelets-card-2 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.binary-bracelets-card-2:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.binary-bracelets-container-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.binary-bracelets-card-3 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.binary-bracelets-card-3:nth-child(2) {
    background-image: url('./images/beads.jpg');
    height: 525px;
    width: 750px;
}

.binary-bracelets-card-3 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.binary-bracelets-card-3 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.binary-bracelets-card-3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.binary-bracelets-container-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.binary-bracelets-card-4 {
    margin: 1rem;
    height: 525px;
    width: 375px;
    border-radius: 4px;
    background: white;
    background-size: cover;
    position: relative;
    color: black;
}

.binary-bracelets-card-4:nth-child(2) {
    background-image: url('./images/bracelet.jpg');
    height: 525px;
    width: 750px;
}

.binary-bracelets-card-4 h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.binary-bracelets-card-4 p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.binary-bracelets-card-4:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.binary-bracelets-container-discussion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.binary-bracelets-card-discussion {
    margin: 1rem;
    height: 600px;
    width: 600px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/binary-pattern.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.binary-bracelets-card-discussion:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/laptop.jpg');
    color: white;
}

.binary-bracelets-card-discussion:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/circuits.jpg');
    color: white;
}

.binary-bracelets-card-discussion:nth-child(4) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/binary-laptop.jpg');
    color: white;
}

.binary-bracelets-card-discussion h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.binary-bracelets-card-discussion p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.binary-bracelets-card-discussion:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/*Computer Science Page CSS */
.comp__sci__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.comp__sci__page h1 {
    background-color: black;
    background-image: white;
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin: 35px;
}

.comp__sci__page__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.comp__sci__page__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17, 17, 17, 0.6) 100%), url('./images/binary-pattern.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.comp__sci__page h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.comp__sci__page__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.comp__sci__page__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none !important;
}

.comp__sci__page__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* What is Gears & Gadgets/About Us CSS */
.about-us-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-us-page-card-1 {
    margin: 1rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    background: #249EA0;
    background-size: cover;
    position: relative;
    color: black;
    padding: 10px 10px;
    align-items: center;
}


.about-us-page-card-2 {
    margin: 0.5rem;
    height: auto;
    width: auto;
    border-radius: 4px;
    background: #249EA0;
    background-size: cover;
    position: relative;
    color: black;
    padding: 10px 10px;
    align-items: center;
}

.about-us-page-card-2:hover {
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.about-us-page-card-3 {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: url('./images/gg-promo.jpg');
    background-size: cover;
    position: relative;
    color: black;
}

.about-us-page-card-3:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}